<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Panel</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<div class="container">
  <h1>Admin Panel</h1>
  <h2>Manage Bookings</h2>
  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Event Name</th>
      <th>User</th>
      <th>Status</th>
      <th>Total Cost</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="booking : ${bookings}">
      <td th:text="${booking.id}">1</td>
      <td th:text="${booking.event.eventName}">Wedding</td>
      <td th:text="${booking.user.username}">User1</td>
      <td th:text="${booking.status}">Pending</td>
      <td th:text="${booking.totalCost}">$1000</td>
      <td>
        <a th:href="@{/
